* {
    box-sizing: border-box;
  }

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.card-container {
    padding: 10px;
    border: 5px solid black;
    border-color: black;
    width: 20vw;
    margin: 10px;
    display: flex;
    flex-flow: column;
}

.top-container{
    display: flex;
}

.profile-container{
    margin-right: 10px;
}

.profile-pic{
    border-radius: 50%;
}

.userhan-container{
    display: flex;
    flex-direction: column;
}

.username-container{
    
}

.body-container {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
}

.image-container {
    display: flex;
    justify-content: center;
}

.description-container {
    border: 1px solid black;
    display: flex;
    align-content: center;
}
p.description-text {
    font-size: 8px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    size: ;
    
}
img {
    max-width: 100%;
    max-height: 100%;
    }

