img {
    max-width: 100%;
    max-height: 100%;    
}

.social-list-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-list-container {
    display: flex;
    flex-direction: column;
}

.card-container {
    border: 2px solid lightblue;
    margin: 10px;
    width: 400px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(8, 1 fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
    grid-template-areas: 
        "a b b b b b c c"
        "d e e e e e e e"
        "d e e e e e e e"
        "d f f f f f f f";
}

.profile-container{
    margin-right: 10px;
    grid-area: a;
}

.profile-pic{
    border-radius: 50%;
}

.userhan-container{
    grid-area: b;
}

.username-container{

}

.handle-container {

}

.date-container{
    margin: 10pxs;
}

.accordion-container{
    grid-area: c;
}

.blank-div-container {
    grid-area: d;
}

.body-container {
    grid-area: e;
    display: grid;
}

.image-description-container{

}

.image-container {
    display: flex;
    justify-content: center;
}

.description-container {
    border: 2px solid rgb(206, 233, 241);
    display: flex;
    align-content: center;
}
p.description-text {
    font-size: 8px;
}

.response-container {
    grid-area: f;
}

.comment-field-container{

}
``
.button-container {
    max-height: 50px;
    max-width: auto;
    display: flex;
    justify-content: center;
    
}


