img {
    max-width: 100%;
    max-height: 100%;    
}

.social-list-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-list-container {
    display: flex;
    flex-direction: column;
}

.card-container {
    border: 2px solid lightblue;
    padding: 10px;
    margin: 10px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(9, 1 fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
    grid-template-areas: 
        "a b b b b b b c c"
        "d e e e e e e e e"
        "d e e e e e e e e"
        "d f f f f f f f f";
}

.profile-container{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    grid-area: a;
}

.profile-pic{
    border-radius: 50%;
}

img.profile-pic{
    width: 50px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;  
}

.userhan-container{
    grid-area: b;
}

.username-container{

}

.handle-container {

}

.date-container{
    margin: 10pxs;
}

.accordion-container{
    grid-area: c;
    right: 0;
    position: absolute;
}

.blank-div-container {
    grid-area: d;
    width: 50px;
}

.body-container {
    grid-area: e;
    display: grid;
}

.image-description-container{
    

}

.image-in-body {
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.image-container{
    max-width: 100%;
    max-height: 100%; 
}

.description-container {
    border-bottom: 2px dashed rgb(206, 233, 241);
    display: flex;
    align-content: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
p.description-text {
    font-size: 10px;
}

.response-container {
    grid-area: f;
}

.comments-title {
    padding: 0px;
    margin: 5px;
}
.comment-list{
    margin: 0px;
    padding: 0px;
}

.comment-content{
    display: flex;
    flex-direction: row;
    border: 1px dashed lightblue;
    margin-bottom: 10px;
}

.commenters-name{
    margin-top: 10px;
    margin-bottom: 0px;
    width: 60px;
}

.commenters-picture{
    margin:0px;
    padding:5px;
}

.comment-field-container{

}

.button-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    
}
