

body {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
  

.card-container {
    padding: 10px;
    border: 2px solid lightblue;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
    min-width: 400px;
    max-width: 400px;
}

.top-container{
    display: flex;
}

.profile-container{
    margin-right: 10px;
}

.profile-pic{
    border-radius: 50%;
}

.userhan-container{
    display: flex;
    flex-direction: column;
}

.date-container{
    margin: 10pxs;
}

.username-container{
    
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 340px;
    max-width: 340px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.description-container {
    border: 2px solid rgb(206, 233, 241);
    display: flex;
    align-content: center;
}
p.description-text {
    font-size: 8px;
}

.button-container {
    max-height: 50px;
    max-width: auto;
    display: flex;
    justify-content: center;
    
}

img {
    max-width: 100%;
    max-height: 100%;    
}

.like-button{
    display: flex;
    justify-content: center;
}

.comment-button{

}

.share-button{

}

.like-image {
    
}

.comment-image {
    max-width: auto;
    max-height: 30px;
    display: flex;
}

.share-image {
    max-width: auto;
    max-height: 30px;
    display: flex;
}

